.container{
    display: flex;
    width: 70vw;
    height: 100vh;
    background: red;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
#numero_dado{
    background: blue;
    border-radius: 45%;
    width: 60px;
    height: 50px;
    text-align: center;
}
.imagen{
    padding-top: 20px;
    border: 2px solid greenyellow;
    display: flex;
    justify-content: center;
}
.imagen img{
   border: 2px solid greenyellow;
}
button{
    margin-top: 20px;
}


/* Animar o dado */
@keyframes mover {
    0% {
        transform: translateY(0px); /* mover no eixo Y vertical */
        transform: rotate(45deg);   /* rotacionar 90 graus */
        opacity: 0; /* opacidade 0 = 100% transparente */
       }
    50% {
        transform:scale(50%); /* mudar tamanho para 50% */
    }
    100% {
        transform: translateY(-15px);  /* mover no eixo Y vertical */
        transform: rotate(-45deg);     /* rotacionar -90 graus */
        opacity: 1; /* opacidade 1 = 0% transparente */
    }
}

@keyframes aparecer {
    to {
        opacity: 0; /* opacidade 0 = 100% transparente */
    }
    from {
        opacity: 1; /* opacidade 1 = 0% transparente */
    }
}

.animar {
    animation: mover 0.5s infinite alternate;
    /*
    animation: mover .5s infinite alternate;
    animation: mover .5s linear infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

.aparecer {
    animation: aparecer 1.5s ease-in;
}